*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

 /* Navbar.................................... */

.navbar{
    font-size: 20px;
    font-style: italic;



} 

/* .navbar ul li a:hover{
  color: #EA2027;
}

.navbar:hover{
  color:red;
} */

.navbar li{
  margin: 10px;

}

  .nav-icon{
  padding: 10px;
    height: 60px;
  
  }

  /* hom................................  */

.hom-hero{
    padding: 10%; 
    margin-left: 5%;
  } 
   
 .hom-icon i:hover{
    background-color:white;
    border-radius: 20px;
   
  }
  
  
#hero-section{
   background-color: black;
  }


.hero-img {
    transform: .2s;
    box-shadow: 0px 0px 50px red;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: 40%;
    
  }
  
  .hero-img :hover{
      transform: rotate(480deg);
  
    }


  .hom-button a{
    box-shadow: 0px 0px 40px red;
  }

  
  .hom-button a:hover{
      transform: rotate(360deg);
        background-color: white ;
    }

 /* about section ............................... */


#about-section{
      background-color:black;
      /* padding:;  */
    
    }



 .about-button{
      margin-left: 20%;
      padding-bottom: 20px;
    }
    
  
.about-button :hover{
  background-color: white;
}
  
  
.about-button a{
  box-shadow: 0px 0px 50px red;

}

  
 /* skills section stard ....................... */
    .container-Skills{
      background-color: black;
    }
  

  .skill-card{
      width: 130px;
     /* background-color:#fbc531; */
      text-align: center;
      border-radius: 10px;
      margin: 40px;
      transition: 0.5s;
      padding: 20px;
     color:#ffa801; 
      margin-left: 5%;
      margin-top: 3%;
 
  }
  .skill-card-style{
      font-size: 5rem;
  } 
  
  .skill-card h2{
      font-size: 1rem;
  } 
  .skill-card:hover{
      background-color:#001b29;
      transform: scale(1.1);
  }
  
  /* services section...........................*/
  
  
  #service-section{
    background-color: black;
  }

  .service-container{
    
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;

  }
  .service-card{
    width: 300px;
    background-color: #001b29;

    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    transition: .5s;
    
  }
  .service-icon{
    font-size: 5rem;
    color:#ffa801;
  }
  .service-card:hover{

background-color:black;
    transform: scale(1.1);
  }
  
  
   /* Project- card......................................  */
  
  #Project-card{
    background-color: black;
  }
  
   
  .card{
    border: none;

  } 

  
  
  /* contact ................................... */
  
  
   #Contact{
    background-color: black;

   } 
  
  
  form{
    width: 500px;

  } 
  input,textarea{
    width: 100%;
    resize: none;
     padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #001b29;
    color:white;
  }

  .form-control :hover{
    background-color: black;
  
  }

  input:focus,textarea:focus{
    outline: none;
 
  }
  .form-control{
    margin: 10px; 
    background-color: #001b29;
    


  }

  
  .form-control .send{

    display:inline-block;    
    padding: 14px 60px;
     background-color:#ffa801;
    border-radius: 40px;
    font-size: 20PX;
    color: #EA2027;
    letter-spacing:1px ;
   font-weight: 600;
   opacity:1;
    font-style: italic;
  
   animation:slidetop ls ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #f39c12, 0 0 25px #f39c12;
}
 .form-control .send:hover{
  box-shadow: 0 0 5px #f39c12,
  0 0 25px #f39c12, 0 0 50px #f39c12,
  0 0 10px #f39c12, 0 0 10px #f39c12;

 }

  /* contact-info  */
 .contact-info{
  margin-top: 10%;
  
 }

 .Email{
  margin-left: 30%;
  margin-top: 5%;
  background-color: #001b29;
  width: 300px;
  padding: 15px 15px 15px;
 
  font-family: sans-serif; 


 }
.phone{
    margin-left: 30%;
    margin-top: 5%;
    width: 300px;
   background-color:  #001b29;
    padding: 15px 15px 15px;
    font-family: sans-serif;
 
}
 

.Email:hover{
  background-color:black;
}

.phone:hover{
  background-color: black;
}







 /* footer ......... */
 #my-footer{
  background-color: black;

 }

 .tag{
  text-decoration: none;
  color: white;

}